<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit blog</title>
</head>
<body>
<form action="/edit" method="post" th:object="${blog}">
    <label>Id</label>
    <input readonly th:field="*{id}">
    <label>Blog name</label>
    <input th:field="*{blogName}">
    <label>Author name</label>
    <input th:field="*{authorName}">
    <label>Blog content</label>
    <textarea th:field="*{blogContent}"></textarea>
    <input type="submit" value="edit">
</form>
</body>
</html>