<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>contract</title>
    <th:block th:replace="~{/layout/home :: cssScript}"></th:block>
</head>
<body>
<nav th:replace="~{/layout/header_footer::header}"></nav>
<div th:replace="~{/layout/home::carousel}"></div>
<div class="container">
    <button style="position: fixed;right: 0" type="button" class="btn btn-success mt-1" data-bs-toggle="modal"
            data-bs-target="#addContact" onclick="">
        THÊM MỚI HỢP ĐỒNG
    </button>
    <h2 CLASS="text-center">DANH SÁCH HỢP ĐỒNG</h2>
<!--    <form class="d-flex m-5">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search customer name" aria-label="Search"-->
<!--               name="facilityName">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--    </form>-->
    <div class="row main mt-2 ">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Mã hợp đồng</th>
                <th>Dịch vụ</th>
                <th>Khách hàng</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Tiền đặt cọc</th>
                <th>Tổng tiền</th>
                <th>Các dịch vụ đi kèm</th>
            </tr>
            <tr th:each="contract, status: ${contractPage}">
                <td th:text="${status.count}"></td>
                <td th:text="${contract.id}"></td>
                <td th:text="${contract.facility.name}"></td>
                <td th:text="${contract.customer.name}"></td>
                <td th:text="${contract.startDay}"></td>
                <td th:text="${contract.endDay}"></td>
                <td th:text="${contract.deposit}"></td>
                <th:block th:each="t:${total}">
                    <th:block th:if="${t.getKey() == contract.id}">
                        <td th:text="${t.getValue() + contract.deposit + contract.facility.cost}"></td>
                    </th:block>
                </th:block>

                <td class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal"
                            data-bs-target="#addContactDetail" th:onclick="|createContractDetail(${contract.id})|">
                        +
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#attachFacility" onclick="show('a', 'b', 'c')">
                        Danh sách các dịch vụ miễn phí đi kèm
                    </button>
                </td>
            </tr>
        </table>
        <div class="row text-center">
            <div class="col-lg-12">
                <a th:href="@{/contract/list(page=${contractPage.number - 1}, name = ${keyName})}"
                   th:if="${contractPage.hasPrevious()}">
                    <span class="fa fa-angles-left"></span>
                </a>
                <span th:text="${contractPage.number + 1}"></span> / <span th:text="${contractPage.totalPages}"></span>
                <a th:href="@{/contract/list(page=${contractPage.number + 1}, name = ${keyName})}"
                   th:if="${contractPage.hasNext()}">
                    <span class="fa fa-angles-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">TẠO HỢP ĐỒNG</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">

                <div class="container  mt-2 p-2 mb-2" style="border: 1px solid grey; border-radius: 15px">
                    <form class="row" action="" method="post">
                        <div class="col-md-12">
                            <label for="startday" class="form-label">Ngày bắt đầu </label>
                            <input type="date" class="form-control" id="startday" name="startday">
                        </div>
                        <div class="col-md-12">
                            <label for="endday" class="form-label">Ngày kết thúc </label>
                            <input type="date" class="form-control" id="endday" name="endday">
                        </div>

                        <div class="col-md-12">
                            <label for="deposit" class="form-label">Tiền đặt cọc</label>
                            <input type="number" class="form-control" id="deposit" name="deposit">
                        </div>
                        <div class="col-md-12">
                            <label for="total" class="form-label">Tổng tiền</label>
                            <input type="number" readonly class="form-control" id="total" name="total">
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Khách hàng</label>
                            <select name="customerName" class="form-select">
                                <option value="None">Chọn khách hàng</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>

                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Dịch vụ</label>
                            <select name="serviceName" class="form-select">
                                <option value="None">Chọn dịch vụ</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>

                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Dịch vụ đi kèm</label>
                            <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal"
                                    data-bs-target="#" onclick="displayAttachFacility()">
                                +
                            </button>

                            <table class="table table-striped" id="tableFacilityContract" style="display: none;">
                                <tr>
                                    <th>Tên dịch vụ đi kèm</th>
                                    <th>Đơn vị</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                    <th>
                                        <button style="display: none" type="button" class="btn btn-danger"
                                                data-bs-toggle="modal" data-bs-target="#" id="buttonHide"
                                                onclick="hideAttachFacility()">
                                            x
                                        </button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"> Karaoke</td>
                                    <td>Giờ</td>
                                    <td>100000</td>
                                    <td><input style="width: 70px" type="number"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"> Thuê xe máy</td>
                                    <td>Giờ</td>
                                    <td>100000</td>
                                    <td><input style="width: 70px" type="number"></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"> Thuê xe đạp</td>
                                    <td>Giờ</td>
                                    <td>100000</td>
                                    <td><input style="width: 70px" type="number"></td>
                                </tr>

                            </table>

                        </div>
                        <div class="col-12  mt-2 d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Hủy bỏ</button>
                            <button type="submit" class="btn btn-warning">Tạo hợp đồng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="attachFacility" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLable">DANH SÁCH DỊCH VỤ MIỄN PHÍ ĐI KÈM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">
                <div>
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>
                        </tr>
                        <th:block th:each="contract:${contractPage}">
                            <th:block th:each="contractDt:${contract.contractDetail}">
                                <tr>
                                    <td th:text="${contractDt.attachFacility.name}"></td>
                                    <td th:text="${contractDt.attachFacility.unit}"></td>
                                    <td th:text="${contractDt.attachFacility.cost}"></td>
                                    <td th:text="${contractDt.quantity}"></td>
                                </tr>
                            </th:block>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addContactDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="/contract/createContractDetail" method="post" th:object="${contractDetailDto}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">THÊM DỊCH VỤ ĐI KÈM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                        </tr>

                        <tr>
                            <td colspan="4"><input id="contractId" type="text" th:field="*{contract}"></td>
                        </tr>
                        <th:block th:each="attach: ${attachFacility}">
                            <tr>
                                <td><input type="radio" th:value="${attach.id}" th:text="${attach.name}"
                                           th:field="*{attachFacility}" name="attach"></td>
                                <td th:text="${attach.unit}"></td>
                                <td th:text="${attach.cost}"></td>
                            </tr>
                        </th:block>
                        <tr>
                            <td><label>Số lượng</label><input type="number" th:field="*{quantity}"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function createContractDetail(id) {
        document.getElementById("contractId").value = id;
    }
</script>

<footer th:replace="/layout/header_footer::footer"></footer>
<script>
    function displayAttachFacility() {
        document.getElementById("tableFacilityContract").style.display = 'block'
        document.getElementById("buttonHide").style.display = 'block'
    }

    function hideAttachFacility() {
        document.getElementById("tableFacilityContract").style.display = 'none'
        document.getElementById("buttonHide").style.display = 'none'
    }
</script>
</body>
</html>